<div class="custom-toast d-flex" *ngIf="toasts?.length" [@fadeInRight]>
  <div *ngFor="let toast of toasts; trackBy: trackById" [ngClass]="{
        'badge-success': toast.type === 'success',
        'badge-danger':   toast.type === 'error',
        'badge-primary': toast.type === 'info',
        'badge-warning': toast.type === 'warning'
      }" class="toast-item pointer-events-auto d-flex align-items-center justify-content-between p-2 border">
    <!-- Icon -->
    <i class="fa-solid" [ngClass]="{
          'fa-circle-check': toast.type === 'success',
          'fa-triangle-exclamation':['warning','error'].includes(toast.type),
          'fa-circle-info': toast.type === 'info',
        }"></i>

    <!-- Message -->
    <div class="mx-2 text-sm fw-medium">
      {{ toast.message }}
    </div>

    <!-- Close -->
    <button (click)="dismiss(toast.id)" class="btn btn-sm text-muted" aria-label="Dismiss">
      <i class="fa-solid fa-times"></i>
    </button>
  </div>
</div>