<div class="container-fluid home-page">
	<div class="container">

		<div class="card card-table">

			<div class="table-header-section">
				<div>
					<h4 class="table-title"> Assets
						<small class="table-subtitle" *ngIf="totalLength">({{totalLength}} items)</small>
					</h4>
				</div>
				<div>
					<button class="btn btn-create me-3" data-bs-toggle="modal" data-bs-target="#createAssetModal"
						(click)="resetAsset()">
						<span><i class="fa-solid fa-plus"></i></span>&nbsp; Create asset
					</button>
					<button class="btn btn-refresh" title="Refresh assets" [disabled]="loadingAssets"
						(click)="getAssets(page)">
						<span><i class="fa-solid fa-sync"></i></span>&nbsp; Refresh
					</button>
				</div>
			</div>

			<span class="filter-text">Filtering options</span>
			<div class="filter-wrapper">

				<div class="w-75">

					<!-- <div class="wrap ms-0">
					<div class="uneditable-input" (click)="openInput('daterangeInput')">
						<span> {{daterange.start | date : 'MMM d, y'}} <small>&nbsp;to&nbsp;</small> {{daterange.end |
							date
							: 'MMM d, y'}} </span>
						<div class="inputsearch">
							<input class="form-control" type="text" name="daterangeInput" id="daterangeInput"
								daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />
						</div>
					</div>
				</div> -->

					<div class="wrap">
						<select class="form-control" name="status" [(ngModel)]="filters.status" (change)="getAssets(1)">
							<option value="">All statuses</option>
							<option *ngFor="let status of statuses;index as i" [value]="status">{{status}} </option>
						</select>
					</div>

					<div class="wrap">
						<select class="form-control" name="assetCategoryId" [(ngModel)]="filters.assetCategoryId"
							(change)="getAssets(1)">
							<option value="">All categories</option>
							<option *ngFor="let category of categories;index as i" [value]="category.id">
								{{category.name}} </option>
						</select>
					</div>

					<div class="wrap">
						<select class="form-control" name="locationId" [(ngModel)]="filters.locationId"
							(change)="getAssets(1)">
							<option value="">All locations</option>
							<option *ngFor="let location of locations;index as i" [value]="location.id">
								{{location.name}} </option>
						</select>
					</div>

					<div class="wrap">
						<select class="form-control" name="departmentId" [(ngModel)]="filters.departmentId"
							(change)="getAssets(1)">
							<option value="">All departments</option>
							<option *ngFor="let department of departments;index as i" [value]="department.id">
								{{department.name}} </option>
						</select>
					</div>

					<div class="wrap position-relative">
						<input type="text" class="form-control" name="userSearchTerm" id="openDefaultDisplayFields"
							[(ngModel)]="userSearchTerm" (click)="$event.preventDefault();openHolder = true"
							placeholder="Search holder" autocomplete="off">
						<div class="search-res-listing" *ngIf="openHolder" appClickOutside
							(appClickOutside)="openHolder = false">
							<div class="search-item disp-field" *ngFor="let user of filterUsers();"
								(click)="selectHolder(user)">
								<span class="d-block name">{{ user?.name }} </span>
								<small class="text-muted"> {{user?.employeeNumber}} </small>
							</div>
							<div class="search-item text-center" *ngIf="!filterUsers().length">
								<span class="name"> no results found </span>
							</div>
						</div>
					</div>

					<div class="wrap">
						<input type="text" class="form-control" placeholder="Asset name" name="name"
							[(ngModel)]="filters.name" (keyup.enter)="getAssets(1)" />
					</div>
				</div>


				<div class="wrap">
					<button class="btn btn-refresh" title="Search assets" [disabled]="loadingAssets"
						(click)="getAssets(1)">
						<span><i class="fa-solid fa-search"></i></span>&nbsp; Search
					</button>
				</div>

				<div class="wrap">
					<button class="btn btn-clear-filters" [disabled]="loadingAssets" (click)="resetFilters()">
						clear filters
					</button>
				</div>
			</div>

			<div class="donut-wrapper" *ngIf="loadingAssets" [@fadeIn]>
				<div class="donut multi"></div>
			</div>

			<!-- <small class="d-block text-muted ps-2 mb-2 border-bottom pb-1" *ngIf="assets.length && !loadingAssets"
				[@fadeIn]>Click on the <strong>asset name</strong>
				to view account records from that asset.</small> -->

			<table class="table" *ngIf="assets.length && !loadingAssets" [@fadeIn]>
				<thead>
					<tr>
						<th scope="col" width="20%">Name</th>
						<th scope="col">Model</th>
						<th scope="col">Category</th>
						<th scope="col">Location</th>
						<th scope="col">Department</th>
						<th scope="col">Holder</th>
						<th scope="col">Status</th>
						<!-- <th scope="col" width="25%">Status reason</th> -->
						<th scope="col" class="text-center" width="200px">
							<!-- *hasOperation="['viewFile']" -->
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let asset of assets | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalLength}; index as i">
						<td>
							<a class="redirect-link" [routerLink]="['/asset', asset.id]">
								<div class="img-holder">
									<img [src]="(asset.coverImageUrl || asset.media[0] | sanitizeFileUrl)"
										[alt]="asset.name + ' image'" imageFallback>
								</div>
								{{asset.name}}
							</a>
						</td>
						<td>
							<span class="d-block">{{asset.model}}</span>
							<span class="d-block fw-bold text-light-grey">{{asset.modelNumber}}</span>
						</td>
						<td> {{asset?.assetCategory?.name ?? '—'}} </td>
						<td> {{asset?.location?.name ?? '—'}} </td>
						<td> {{asset?.department?.name ?? '—'}} </td>
						<td>

							<span class="d-block"> {{asset?.holder?.name ?? '—'}}</span>
							<span class="d-block fw-bold text-light-grey">{{asset?.holder?.employeeNumber ??
								'—'}}</span>
						</td>
						<td>
							<span class="badge" [ngClass]="{
									'badge-primary': asset.status === 'NEW',
									'badge-success': asset.status === 'ACTIVE',
									'badge-danger':  asset.status === 'DELETED'
								}">{{ asset.status }}</span>
						</td>
						<td class="text-center">
							<!-- *hasOperation="['viewFile']" -->
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
									data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Actions
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" [routerLink]="['/asset', asset.id]">
										View
									</a>
									<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createAssetModal"
										(click)="selectAsset(asset,'EDIT')">
										Edit
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>


			<div class="pagination-container" align="center" class="mt-4"
				*ngIf="totalLength > itemsPerPage && assets?.length && !loadingAssets" [@fadeIn]>
				<pagination-controls (pageChange)="getAssets((page = $event))" [maxSize]="7" previousLabel=""
					nextLabel=""></pagination-controls>
			</div>

			<div class="text-center my-5" *ngIf="!assets.length && !loadingAssets">
				<span class="text-muted">No assets found</span>
			</div>
		</div>
	</div>
</div>


<!-- USER CREATE / EDIT MODAL  -->
<app-asset-create [propAsset]="asset" [locations]="locations" [departments]="departments" [categories]="categories"
	[users]="users" [showModal]="clickedModal" (refreshAssetsEmit)="getAssets(page)"></app-asset-create>
