<div class="container login-page">
	<div class="w-100">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card login-card pt-5">
					<form class="form" role="form">

						<div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError" [@fadeIn]>
							<strong>Failed to set password!</strong> <br> {{errorMessage}}
						</div>

						<h4>Create a password</h4>

						<p class="instruction mb-5 mx-auto">Set a secure password with <strong>at least 8
								characters</strong> to get started with your new account.</p>

						<div class="form-group text-start mb-3">
							<label for="confirmPassword">Password
								<small class="red-text fw-normal ms-3" *ngIf="invalid.length" [@fadeIn]>
									Password is less than 8 characters</small>
							</label>

							<div class="position-relative">
								<input type="password" class="form-control" name="password" id="password"
									placeholder="Enter password"
									(ngModelChange)="authenticationError = false;invalid.length = false;"
									(ngModelDebounceChange)="validatePassword()" [(ngModel)]="credentials.password"
									data-cy="password" />
								<span><i class="fa-solid eye-icon" [ngClass]="{ 'fa-eye': open, 'fa-eye-slash': !open }"
										(click)="showPassword('password')"></i></span>
							</div>
						</div>

						<div class="form-group text-start  mb-3">
							<label for="confirmPassword">Confirm password
								<small class="red-text fw-normal ms-3" *ngIf="invalid.match" [@fadeIn]>Passwords do not
									match</small>
							</label>
							<div class="position-relative">
								<input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
									placeholder="Re-enter password"
									(ngModelChange)="authenticationError = false;invalid.match = false;"
									(ngModelDebounceChange)="validateConfirmPassword()"
									[(ngModel)]="credentials.confirmPassword" data-cy="password" />
								<!-- <span><i class="fa-solid eye-icon" [ngClass]="{ 'fa-eye': open, 'fa-eye-slash': !open }"
										(click)="showPassword('confirmPassword')"></i></span> -->
							</div>
						</div>

						<div class="row mt-4">
							<div class="col-md-12">
								<button type="button" class="btn btn-login" (click)="setPassword()"
									[disabled]="logingIn || checkPasswordInputs()  || invalid.length || invalid.match">Set password</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>