.login-card {
  background-color: #fff !important;
  box-shadow: 0 10px 30px 0 #0001 !important;

  .instruction {
    color: #5f6063 !important;
    width: 80% !important;
  }

  input,
  .form-control {
    border: 2px solid #5f6063 !important;
    padding-left: 12px!important;
  }
}
